#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    position: relative;
}

.photograph-header img {
    width: 300px;
    object-fit: contain;
    clip-path: circle(30% at 50% 50%);
    aspect-ratio: 1/1;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.photograph-header h2 {
    color: #D3573C;
    font-size: 4em;
    font-weight: 400;
    position: absolute;
    left: 4%;
}

.photograph-header p:nth-child(2) {
    font-size: 1.1em;
    position: absolute;
    left: 4%;
    top: 60%;
}

.photograph-header p:nth-child(3) {
    color: #D3573C;
    font-size: 1.5em;
    position: absolute;
    left: 4%;
    top: 40%;
}

.modal_buttons {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.contact_button:hover {
    background-color: #DB8876;
    color: black;
}

.sendBtn {
    margin-top: 20px;
    width: 140px;
    height: 60px;
    font-size: 0.9em;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px 35px 35px;
    margin: auto;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.modal header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.modal header button {
    position: absolute;
    right: 35px;
    top: 35px;
    width: 55px;
    cursor: pointer;
    border: none;
    background: unset;
}

.modal header h2 {
    width: 100%;
    font-size: 2.8em;
    font-weight: normal;
    text-align: start;
    margin: 0;
}

.modal header p {
    width: 100%;
    text-align: start;
    font-size: 2.5em;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 1.7em;
    margin-top: 5px;
}

form label:nth-child(1) {
    margin-top: 30px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 0;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
}

form textarea {
    border-radius: 5px;
    width: 100%;
    font-size: 1.5em;
    border: none;
}

.filters {
    margin-left: 100px;
    display: flex;
    list-style: none;
    font-size: 1.1em;
    position: relative;
    z-index: 20;
}

.filters p {
    margin: 40px 20px 0 0;
    font-weight: bold;
}

/* .filtersContainer {
    position: absolute;
    left: 90px;
    width: 180px;
    height: 204px;

    background-color: #901C1C;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    
} */

/* .chevronFilter {
    position: absolute;
    padding: 20px;
    top: 8px;
    right: 10px;
    color: white;
    transition: transform 0.3s ease;
} */

/* .chevronFilter.rotated {
    transform: rotate(180deg);
} */

/* .filtersUl {
    width: 100%;
    padding: 0;
} */

/* .filtersUl li {
    list-style: none;
} */

/* .filters button {
    background: unset;
    width: 100%;
    color: white;
    font-size: 1.1em;
    text-align: start;
    border: none;
    cursor: pointer;
    padding: 15px 0;
} */

/* .filters button:hover {
    background-color: #DB8876;
    color: black;
} */

/* pour afficher les autres boutons de la liste lors de l'expansion */
/* .filtersContainer.expanded {
    max-height: 204px; 
} */




/* Sort Button */

.filtersContainer {
    position: absolute;
    left: 90px;
    width: 180px;
    height: 69px;
    background-color: #901C1C;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    overflow: hidden; /* Pour masquer les éléments excédentaires */
    transition: height 0.3s ease; /* Pour animer la transition */
}

.filtersContainer.expanded {
    height: 207px; /* 3 fois la hauteur originale */
}


.chevronFilter {
    position: absolute;
    padding: 20px;
    top: 0; 
    right: 10px;
    color: white;
    rotate: 180deg;
    transition: transform 0.3s ease;
}

.chevronFilter.rotated {
    transform: rotate(180deg);
}

.filtersUl {
    width: 100%;
    padding: 0;
    transition: max-height 0.3s ease;
    max-height: 69px; /* Devrait correspondre à la hauteur initiale de filtersContainer */
    overflow: hidden; /* Pour masquer les éléments excédentaires */
}

.filtersUl.expanded {
    max-height: none; /* Pour permettre aux éléments intérieurs de prendre toute la place disponible */
}

.filtersUl li {
    height: 69px;
    display: none; /* Cache tous les éléments sauf le premier */
}

.filtersUl li:first-child {
    display: block; /* Affiche uniquement le premier élément */
}

.filtersUl li button {
    background: unset;
    color: white;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    transition: background-color 0.3s ease, color 0.3s ease;
}

.filtersUl li button:hover {
    background-color: #DB8876;
    color: black;
}

.filtersUl li button span {
    padding: 10px;
}

.filtersUl.expanded.lines li:first-child::after,
.filtersUl.expanded.lines li:last-child::before {
    content: "";
    display: block;
    height: 2px;
    width: 80%;
    background: white;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* Media Gallery */

.media-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
    margin: 100px 100px 170px 100px;
}

.mediaArticle {
    position: relative;
    width: 100%;
    height: 20px;
    padding-top: 100%;
}

.mediaArticle a img,
.mediaArticle a video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.infosMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-size: 1.5em;
    margin-top: 10px;
}

.media-figure-figcaption-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
}

.like-icon {
    cursor: pointer;
    color: #901C1C;
}

.hidden-heart {
    display: none;
}

.likes-price {
    position: fixed;
    border-radius: 5px 5px 0 0;
    background-color: #DB8876;
    font-size: 1.5em;
    width: 376px;
    height: 89px;
    bottom: 0;
    right: 50px;

    z-index: 10;
}

.likes-price p {
    display: inline-block;
    margin-top: 30px;
}

.likes-price > p > span:nth-child(1) {
    margin-left: 40px;
}

.likes-price > p > span:nth-child(2) {
    margin-right: 40px;
}

.likes-price > p > span:nth-child(3) {
    margin-left: 30px;
}

#lightbox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    top: 0;
    left: 0;

    z-index: 20;
}

.lightbox-active {
    cursor: default;
}

.closeLightbox {
    position: absolute;
    top: 0;
    right: -8%;
    padding: 40px;
    font-size: 2em;
    color: #901C1C;
    background: unset;
    border: none;
    cursor: pointer;
    z-index: 30;
}

.lightboxContent {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) ;
    margin-top: 2%;
    width: 70%;
    height: 85%;
}

.lightboxContent > a > img, 
.lightboxContent > a > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev {
    left: -8%;
}

.next {
    right: -8%;
}

.next, .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) ;
    color: #901C1C;
    background: unset;
    border: none;
    font-size: 2em;
    padding: 250px 40px;
    cursor: pointer;
}

.lightboxTitle {
    color: #901C1C;
    font-size: 2em;
    margin: 0;
}

@media (max-width: 1024px) {
    .photograph-header h2 {
        font-size: 2.5em;
    }

    .modal_buttons {
        font-size: 1em;
        width: 150px;
        height: 60px;
    }

    .photograph-header img {
        width: 250px;
    }

    .media-gallery {
        grid-gap: 70px;
    }

    .infosMedia {
        font-size: 1em;
    } 

    .infosMedia p span {
        white-space: nowrap;
    }

    .infosMedia p:nth-child(2) {
        width: 60px;
        text-align: right;
        background-color: pink;
    } 

    .likes-price {
        font-size: 1.1em;
        width: 276px;
        height: 69px;
    }

    .likes-price p {
        margin-top: 25px;
    }

    .lightboxTitle {
        font-size: 1.5em;
    }

    .closeLightbox {
        right: -15%;
        top: -20px;
    }

    .prev {
        left: -15%;

    }
    
    .next {
        right: -15%;
    }
}